/*Mobile breakpoint*/
body {
  margin: 0;
  font-family: Avenir, Helveltica, Arial, san-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
  background-image: url("../img/giphy.gif");
  background-repeat: no-repeat;
  background-size: 1920px auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 81vh auto;
 /*grid-gap: 6px;
  */
  grid-template-areas: "header header" "menu menu" "container container" "footer footer";
}
/*Mobile Header*/
header {
  grid-area: header;
  background: #353637;
  color:#ffffff;
  padding-top: 30px;
  min-height: 70px;
  text-align: center;
  font-size: 35px;
}
header .highlight{
  color: #ff0000;
  font-weight: bold;
}
nav {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  background: #353637;
}
nav a{
  padding: 0.35em 1.5em;
  color: #ff0000;
  background: black;
  text-decoration: none;
  transition: all 1.5s;
  text-align: center;
}
.menu:hover + nav, nav:hover{
  display:flex;
}
.active {
  color: white;
}
main {
  grid-area: container;
}
#GSmagazine{
  color: #ffffff;
  background: black;
  opacity: .8;
}
#GSmagazine h1{
  font-size: 35px;
  float: left;
  text-align: center;
}
.form{
  float:left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
.form > input{
  float:left;
  border-radius: 5px;
  height: 28px;
  margin-top: 2px;
  margin-left: 20px;
  border: none;
  text-indent: 10px;
}

footer p i {
  margin-left: 5px;
  margin-right: 5px;
}

.flickering {
  -webkit-animation: flicker 5s infinite;
}
@-webkit-keyframes flicker {
  0% {
     opacity:0;
 }
  9% {
     opacity:0;
 }
  10% {
     opacity:.5;
 }
  13% {
     opacity:0;
 }
  20% {
     opacity:.5;
 }
  25% {
     opacity:1;
 }
}
.form > button {
  margin-top: 15px;
  margin-left: 10px;
}
section .highlight{
  color: #ff0000;
  font-weight: bold;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  text-align: center;
  color: #ce0100;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.myButton {
  box-shadow:inset 0px 1px 0px 0px #f29c93;
  background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
  background-color:#fe1a00;
  border-radius:6px;
  border:1px solid #d83526;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
  background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
  background-color:#ce0100;
}
.myButton:active {
  position:relative;
  top:1px;
}
/*Mobile footer section*/
footer {
  grid-area: footer;
  background: #353637;
  text-align: center;
}
.footer{
  grid-area:footer;
}
.area{
  width: 80%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
/*Tablet / Desk top breakpoint*/
@media screen and (min-width: 500px) {
  .grid {
      grid-template-columns: 1fr 1fr 1fr;
     /*grid-template-rows: 1fr 1fr 1fr 1fr;
     */
     /*or set the rows to 'view height (vh)'*/
      grid-template-rows: auto 81vh auto;
      grid-template-areas: "header menu menu" "container container container" "footer footer footer";
     /*Header Section styles for tablet and desktop*/
 }
  header {
      grid-area:header;
      background: #353637;
      color:#ffffff;
      padding-top: 30px;
      min-height: 70px;
      text-align: center;
      font-size: 40px;
 }
  header .highlight{
      color: #ff0000;
      font-weight: bold;
 }
  nav {
      grid-area: menu;
      display: flex;
      flex-direction: row;
      background: #353637;
 }
  nav a{
      padding: 1.25em 1.5em;
      color: #ff0000;
      background: #353637;
      text-decoration: none;
      transition: all 1.5s;
 }
  main {
      grid-area: container;
     /* increasing the height of one element increases all row heights */
     /*height: 25vh;
     */
 }
  section .highlight{
      color: #ff0000;
      font-weight: bold;
 }
  footer {
      grid-area: footer;
      background: #353637;
     /* needs to take up the full grid row so this leaves a gap! */
     /* height: 3em;
      */
 }
  .footer{
      grid-area:footer;
 }

 .form > button {
  margin-top: 0px;
}
}
