body {
  margin: 0;
  font-family: Avenir, Helveltica, Arial, san-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
}
.grid {
  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 10vh 20vh 60vh  10vh;
  /*grid-gap: 6px; */
  grid-template-areas:
    "header  header"
    "menu   menu"
    "container  container"
    "footer  footer";
}
/*Mobile Header*/
header {
  grid-area: header;
  background: #353637;
  color:#ffffff;
  padding-top: 30px;
  min-height: 70px;
  text-align: center;
  font-size: 35px;
}
header .highlight{
color: #ff0000;
font-weight: bold;
}



nav {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  background: #353637;
}
nav a{
 padding: 0.35em 1.5em;
 color: #ff0000;
 background: black;
 text-decoration: none;
 transition: all 1.5s;
 text-align: center;
}


.menu:hover + nav,
nav:hover{
  display:flex;
}




/*Mobile Main Content section*/
main {
  grid-area: container;
  /* increasing the height of one element increases all row heights */
  /*height: 25vh;*/
  background: black;
}
.container img{
  grid-area: container;
  width: 100%;
  max-height:100%;
  object-fit: cover;

}

.area{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.button_1{
  height:38px;
background:#ff0000;
border:5px;
padding-left: 20px;
padding-right:20px;
color:#ffffff;
}


#GSmagazine{
	padding: 15px;
	color: #ffffff;
	background: #000000;
}
#GSmagazine h1{
text-align: center;
font-size: 35px;
}
#GSmagazine form{
	float:right;
	margin-top: 15px;
}
#GSmagazine input [type="email"]{

}

section .highlight{
  color: #ff0000;
  font-weight: bold;
}







/*Mobile footer section*/
footer {
  grid-area: footer;
  background: #353637;
  text-align: center;
}
.footer{
  grid-area:footer;

}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.gallery img {
  height: 15vh;
  width: auto;
  padding: 10px;
}

h2 {
  text-align: center;
}





/*Tablet / Desk top breakpoint*/

@media screen and (min-width: 500px) {
  .grid {
    grid-template-columns:  1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
    /*or set the rows to 'view height (vh)'*/
    grid-template-rows: 15vh 75vh 10vh;
    grid-template-areas:
      "header  menu  menu"
      "container container container"
      "footer  footer  footer";

  /*Header Section styles for tablet and desktop*/
  }
header {
  grid-area:header;
  background: #353637;
  color:#ffffff;
  padding-top: 30px;
  min-height: 70px;
	text-align: center;
  font-size: 40px;
}

header .highlight{
color: #ff0000;
font-weight: bold;
}




nav {
  grid-area: menu;
  display: flex;
  flex-direction: row;
  background: #353637;
}
nav a{
 padding: 1.25em 1.5em;
 color: #ff0000;
 background: #353637;
 text-decoration: none;
 transition: all 1.5s;
}

main {
  grid-area: container;
  /* increasing the height of one element increases all row heights */
  /*height: 25vh;*/
  background: black;
}

/*GEAR SHIFT MAGAZINE*/

.area{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.button_1{
  height:38px;
background:#ff0000;
border:5px;
padding-left: 20px;
padding-right:20px;
color:#ffffff;
}


#GSmagazine{
	padding: 15px;
	color: #ffffff;
	background: #000000;
}
#GSmagazine h1{
text-align: center;
font-size: 35px;
}
#GSmagazine form{
	float:right;
	margin-top: 15px;
}
#GSmagazine input [type="email"]{

}

section .highlight{
  color: #ff0000;
  font-weight: bold;
}



footer {
  grid-area: footer;
  background: #353637;
  /* needs to take up the full grid row so this leaves a gap! */
  /* height: 3em; */
}
.footer{
  grid-area:footer;
}
}