body {
  margin: 0;
  font-family: Avenir, Helveltica, Arial, san-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
  background: black;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
 /*grid-gap: 6px;
  */
  grid-template-areas: "header" "menu" "container" "footer";
}
/*Mobile Header*/
header {
  grid-area: header;
  background: #353637;
  color:#ffffff;
  padding-top: 30px;
  min-height: 70px;
  text-align: center;
  font-size: 35px;
}
header .highlight{
  color: #ff0000;
  font-weight: bold;
}
nav {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  background: #353637;
}
nav a{
  padding: 0.35em 1.5em;
  color: #ff0000;
  background: black;
  text-decoration: none;
  transition: all 1.5s;
  text-align: center;
}
.menu:hover + nav, nav:hover{
  display:flex;
}
.active {
  color: white;
}
/*Mobile Main Content section*/
main {
  grid-area: container;
 /* increasing the height of one element increases all row heights */
 /*height: 25vh;
 */
  background: black;
}
.container img{
  grid-area: container;
  width: 100%;
  max-height:100%;
  object-fit: cover;
}
.area{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.button_1{
  height:38px;
  background:#ff0000;
  border:5px;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}
#GSmagazine{
  padding: 15px;
  color: #ffffff;
  background: #000000;
}
#GSmagazine h1{
  text-align: center;
  font-size: 35px;
}
#GSmagazine form{
  float:right;
  margin-top: 15px;
}
#GSmagazine input [type="email"]{
}
section .highlight{
  color: #ff0000;
  font-weight: bold;
}
/*Mobile footer section*/
footer {
  grid-area: footer;
  background: #353637;
  text-align: center;
}
.footer{
  grid-area:footer;
}
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.gallery img {
  height: 15vh;
  width: auto;
  padding: 10px;
}
h2 {
  text-align: center;
}
.video-wrapper {
  display: flex;
  justify-content: center;
}
/* The Modal (background) */
.modal {
  display: none;
 /* Hidden by default */
  position: fixed;
 /* Stay in place */
  z-index: 1;
 /* Sit on top */
  padding-top: 100px;
 /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
 /* Full width */
  height: 100%;
 /* Full height */
  overflow: auto;
 /* Enable scroll if needed */
  background-color: rgb(0,0,0);
 /* Fallback color */
  background-color: rgba(0,0,0,0.9);
 /* Black w/ opacity */
}
/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

footer p i {
  margin-left: 5px;
  margin-right: 5px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
     transform:scale(0)
 }
  to {
     transform:scale(1)
 }
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.gallery img:hover {
 /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
 /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
      transform: translate(1px, 1px) rotate(0deg);
 }
  10% {
      transform: translate(-1px, -2px) rotate(-1deg);
 }
  20% {
      transform: translate(-3px, 0px) rotate(1deg);
 }
  30% {
      transform: translate(3px, 2px) rotate(0deg);
 }
  40% {
      transform: translate(1px, -1px) rotate(1deg);
 }
  50% {
      transform: translate(-1px, 2px) rotate(-1deg);
 }
  60% {
      transform: translate(-3px, 1px) rotate(0deg);
 }
  70% {
      transform: translate(3px, 1px) rotate(-1deg);
 }
  80% {
      transform: translate(-1px, -1px) rotate(1deg);
 }
  90% {
      transform: translate(1px, 2px) rotate(0deg);
 }
  100% {
      transform: translate(1px, -2px) rotate(-1deg);
 }
}
video {
  width: 90vw;
  height: auto;
}
/*Tablet / Desk top breakpoint*/
@media screen and (min-width: 500px) {
  .grid {
      grid-template-columns: 1fr 1fr 1fr;
     /*grid-template-rows: 1fr 1fr 1fr 1fr;
     */
     /*or set the rows to 'view height (vh)'*/
      grid-template-rows: auto auto auto;
      grid-template-areas: "header menu menu" "container container container" "footer footer footer";
     /*Header Section styles for tablet and desktop*/
 }
  header {
      grid-area:header;
      background: #353637;
      color:#ffffff;
      padding-top: 30px;
      min-height: 70px;
      text-align: center;
      font-size: 40px;
 }
  header .highlight{
      color: #ff0000;
      font-weight: bold;
 }
  nav {
      grid-area: menu;
      display: flex;
      flex-direction: row;
      background: #353637;
 }
  nav a{
      padding: 1.25em 1.5em;
      color: #ff0000;
      background: #353637;
      text-decoration: none;
      transition: all 1.5s;
 }
  main {
      grid-area: container;
      background: black;
 }
 /*GEAR SHIFT MAGAZINE*/
  .area{
      width: 80%;
      margin: auto;
      overflow: hidden;
 }
  .button_1{
      height:38px;
      background:#ff0000;
      border:5px;
      padding-left: 20px;
      padding-right:20px;
      color:#ffffff;
 }
  #GSmagazine{
      padding: 15px;
      color: #ffffff;
      background: #000000;
 }
  #GSmagazine h1{
      text-align: center;
      font-size: 35px;
 }
  #GSmagazine form{
      float:right;
      margin-top: 15px;
 }
  #GSmagazine input [type="email"]{
 }
  section .highlight{
      color: #ff0000;
      font-weight: bold;
 }
  footer {
      grid-area: footer;
      background: #353637;
     /* needs to take up the full grid row so this leaves a gap! */
     /* height: 3em;
      */
 }
  .footer {
      grid-area:footer;
 }
  video {
      width: 40vw;
      height: auto;
 }
}
